<a href="https://colab.research.google.com/github/dinamicjuanjo/Curso-Python_techguy/blob/main/01_Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EJERCICIOS**
---

Entendido, aquí están los enunciados modificados eliminando los ejercicios que involucran operaciones matemáticas, lógicas, comparativas y entradas del usuario:

1. **Variables y Enteros:**
   - Declara una variable llamada `edad` y asígnale tu edad. Imprime la variable.

2. **Punto Flotante:**
   - Declara una variable llamada `altura` y asígnale tu altura en metros. Imprime la variable.

3. **Cadena de Texto:**
   - Declara una variable llamada `nombre` y asígnale tu nombre. Imprime la variable.

4. **Booleanos:**
   - Declara una variable llamada `es_estudiante` y asígnale el valor `True` si eres estudiante, o `False` si no lo eres. Imprime la variable.

5. **Conversión de Tipos:**
   - Declara una variable `numero_str` y asígnale el valor `"25"`. Convierte esta variable a un entero e imprímela.

6. **Uso de Comillas Dobles y Simples:**
   - Crea una variable con una cadena que contenga tanto comillas dobles como simples.

7. **Booleano a Número:**
   - Declara una variable booleana y conviértela a un número entero. Imprime el resultado.

8. **Asignación Múltiple:**
    - Declara tres variables en una sola línea con valores numéricos. Imprime el resultado.
    
9. **Infinito decimal**
    - Crea una variable de tipo texto que al convertirla a decimal sea infinito. Imprime el resultado.

# **SOLUCIONES**
---

In [ ]:
#Ejercicio 1
edad=20
print('Mi edad es: ', edad)

In [ ]:
#Ejercicio 2
altura=1.80
print('Mi altura es: ', altura)

In [ ]:
#Ejercicio 3
nombre='Mario'
print('Mi nombre es: ',nombre)

In [ ]:
#Ejercicio 4
es_estudiante=True
print('¿Soy estudiante? ', es_estudiante)

In [ ]:
#Ejercicio 5
numero_str='25'
print(int(numero_str))

25

In [ ]:
#Ejercicio 6
variable='hola que tal "soy pepito" el grillo'
print(variable)

In [ ]:
#Ejercicio 7
var=True
print(int(var))

In [ ]:
#Ejercicio 8
var1, var2, var3 = 1, 2, 3
print(var1)
print(var2)
print(var3)

In [ ]:
#Ejercicio 9
palabra='Infinity'

print(float(palabra))