<a href="https://colab.research.google.com/github/dinamicjuanjo/Curso-Python_techguy/blob/main/03_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 游냀  춰Bienvenidos a Python con Colab! 游
---
춰Saludos y bienvenidos a nuestro emocionante Curso de Python! En esta secci칩n, nos sumergiremos en el fascinante mundo de la programaci칩n con Python, haciendo uso de la magia de Google Colab.

游댌 Durante este m칩dulo, exploraremos los conceptos esenciales de Python, desde variables y operadores hasta estructuras de control de flujo. Utilizaremos Google Colab como nuestro entorno de desarrollo, permiti칠ndonos ejecutar y experimentar con c칩digo Python de manera interactiva.

游 Prep치rense para un viaje de aprendizaje pr치ctico y amigable. 춰Comencemos nuestro emocionante viaje de programaci칩n juntos!

# **Listas**
---
Una lista es una colecci칩n de valores arbitrarios que se puede almacenar en una variable. Una lista en Python se define como una secuencia de valores separados por comas y delimitada por corchetes, [ ]:

<pre>my_lista = [a, b, c]</pre>

Las listas:
* Est치n ordenadas y no son 칰nicamente una colecci칩n de valores.
* Pueden contener cualquier tipo de valor u objeto.
* Se puede acceder a sus elementos v칤a indexaci칩n.
* Pueden anidar un n칰mero de listas arbitrario.
* Son din치micas y mutables.

El orden en el que se especifican los valores de una lista es relevante.

In [ ]:
#IMPORTA EL ORDEN?
a=[1,2,3]
b=[2,3,1]

a==b

False

In [ ]:
#Pueden contener valores de distintos tipos
a=[1, 'hola',True, 9.8,[1,2,3]]
a

[1, 'hola', True, 9.8, [1, 2, 3]]

El n칰mero de elementos de una lista s칩lo est치 limitado por la memoria disponible.

In [ ]:
print(type(a))

<class 'list'>

Podemos usar la indexacion y el slicing con las listas tambien.

In [ ]:
a[1]

'hola'

In [ ]:
a[0:3]

[1, 'hola', True]

In [ ]:
a[::-1]

[[1, 2, 3], 9.8, True, 'hola', 1]

El 칤ndice [:] realiza una copia de la lista. El operador <i>is</i> nos indica que es un nuevo objeto.

In [ ]:
b=a[:]
print('쯉on el mismo objeto?', a is b)
print('쯉on iguales?', a==b)

쯉on el mismo objeto? False
쯉on iguales? True

La concatenaci칩n y multiplicaci칩n de listas es igual que para cadenas de caracteres. Las concatenaciones se realizan entre objetos del mismo tipo, en este caso listas.

In [ ]:
a + [1,2]

[1, 'hola', True, 9.8, [1, 2, 3], 1, 2]

In [ ]:
[1,2]*10

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

#### funciones <i>len()</i>, <i>min()</i>, <i>max()</i>, <i>sum()</i> y <i>sorted()</i>

Hay varias funciones que aplican comunmente a listas:
    
* <i>len()</i>: devuelve el tama침o de la lista.
* <i>min()</i>: devuelve el valor m칤nimo de la lista. (Mismo tipo de dato)
* <i>max()</i>: devuelve el valor m치ximo de la lista. (Mismo tipo de dato)
* <i>sum()</i>: devuelve la suma de los valores de la lista. (valores numericos)
* <i>sorted()</i>: devuelve copia de la lista ordenada. (Mismo tipo de dato)

In [ ]:
#Tama침o   len()
a=[1,2,3,4]
print(len(a))

b='hola que tal'
len(b)

4

12

Las funciones min() y max() tambien pueden aplicarse a cadenas de texto

In [ ]:
#Valor minimo min()
a=[3,2,6,7]
print(min(a)) #Orden numerico
b=['a','g','b','e']
min(b) #Orden alfanumerico

2

TypeError: ignored

In [ ]:
#Valor m치ximo  max()
a=[3,2,6,7,9.5]
print(max(a)) #Orden numerico
b=['a','g','b','e']
max(b) #Orden alfanumerico

9.5

'g'

In [ ]:
#Suma   sum()
a=[1,2,3.5,4] #Se pueden combinar enteros con decimales
sum(a)

10.5

In [ ]:
#Ordenado
a=[1,3,4,5]
print(sorted(a))

b=['a','g','b','1'] #Orden alfanumrico
print(sorted(b))

#Tambien puede aplicarse a cadenas de texto
sorted('hola')

[1, 3, 4, 5]
['1', 'a', 'b', 'g']

['a', 'h', 'l', 'o']

En caso de que tengamos multiples tipos de datos y queramos aplicar las funciones anteriores podemos especificar a que tipo de dato convertirlos.
Usamos el parametro key.

In [ ]:
#Ejemplo

a=[1,3,5,7,'1','10','0']

min(a,key=int)

'0'

## Dinamicas y mutable

Quiere decir que pueden modificarse los valores de la lista.

In [ ]:
a=[1,2,3,4]
a[0]=29
a

[29, 2, 3, 4]

In [ ]:
del a[2]
a

[29, 2, 4]

M치s adelante veremos algunos m칠todos para las listas que nos puedan ser de utilidad una vez hallamos visto el resto de tipos de colleciones de datos.